In [21]:
import pandas as pd

In [22]:
data = pd.read_csv('data/train_ratings.csv')

/tmp/ipykernel_4532/2049522563.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/train_ratings.csv')

In [23]:
data['beer_id'] = pd.to_numeric(data['beer_id'], errors='coerce')

In [24]:
data = data.dropna()

In [25]:
data['beer_id'] = data['beer_id'].astype(int)

In [26]:
data

         beer_id       user_name review_score  review_time
0          63836          hopdog        13/20   1157587200
1          63836    TomDecapolis        13/20   1157241600
2          71716  PhillyBeer2112        14/20    958694400
3          64125    TomDecapolis         8/20   1157587200
4          64125          hopdog         8/20   1157587200
...          ...             ...          ...          ...
2838369    98518      Snojerk321        11/20   1233964800
2838370    98518         troopie        13/20   1233446400
2838371    98518            Reid        14/20   1233360000
2838372    98518     boFNjackson        14/20   1233100800
2838373    98914     boFNjackson        15/20   1233964800

[2838334 rows x 4 columns]

In [27]:
user_data = pd.read_csv('data/test_users.csv').reset_index().rename(columns={'index': 'user_id'})

In [28]:
data_w_user_id = pd.merge(data, user_data, on='user_name')

In [29]:
data_w_user_id

         beer_id     user_name review_score  review_time  user_id
0          63836        hopdog        13/20   1157587200      325
1          64125        hopdog         8/20   1157587200      325
2          71714        hopdog        12/20   1176076800      325
3          64126        hopdog         9/20   1157587200      325
4          77833        hopdog        14/20   1220400000      325
...          ...           ...          ...          ...      ...
1439889   154043   DesertDevil        16/20   1325030400     1625
1439890    15648  Saurononline        15/20   1325116800      150
1439891    15647  Saurononline        17/20   1325116800      150
1439892    80183      Ogre_Dad        15/20   1271808000     1728
1439893       46      Dr_Butty        14/20   1306195200     1518

[1439894 rows x 5 columns]

In [30]:
beer_data = pd.read_csv('data/beer_metadata.csv')

In [31]:
beer_data['beer_id'] = pd.to_numeric(beer_data['beer_id'], errors='coerce')

In [32]:
beer_data = beer_data.dropna()

In [33]:
beer_data['beer_id'] = beer_data['beer_id'].astype(int)

In [34]:
beer_data

,beer_id,beer_name,brewer_id,beer_abv,beer_style
0,63836,John Harvards Simcoe IPA,8481,5.4,India Pale Ale &#40;IPA&#41;
1,71716,John Harvards Cristal Pilsner,8481,5,Bohemian Pilsener
2,64125,John Harvards Fancy Lawnmower Beer,8481,5.4,Klsch
3,31544,John Harvards Vanilla Black Velvet Stout,8481,-,Sweet Stout
4,71714,John Harvards American Brown Ale,8481,-,Brown Ale
...,...,...,...,...,...
112045,958,Pyramid Best Brown,154,5.1,Brown Ale
112046,959,Pyramid Espresso Stout,154,-,Sweet Stout
112047,98518,Pyramid Rollick Amber Lager,154,6,Amber Ale
112048,98914,Pyramid Snow Cap&#40;&#8217;n & Tennille&#41;,154,7,English Strong Ale
112049,29160,Buffalo Bills Orange Blossom Cream Ale,154,5.2,Fruit Beer

In [35]:
beer_data = beer_data.sort_values(by='beer_abv', ascending=False).drop_duplicates(subset='beer_id').drop(columns='brewer_id')

In [36]:
data_complete = pd.merge(data_w_user_id, beer_data, on='beer_id')

In [37]:
data_complete = data_complete.drop(columns='review_time')

In [38]:
data_complete.to_csv('data/data_agg.csv', index=False)